
/*
root { 
	display: table;
	width: 500px;
	border: thin solid black;
}

row {

	display: table-row;
}


*/
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    width: 500px;

    color: #0D3427;
    font-size: 120%;
    font-weight: bold;
}

itemCode,
itemDescription,
currentCount,
onOrder{
	display: table-cell;
	border: 0.5px solid black;
	text-align: center;

}

itemCode {
    width: 20%;
    color: #0D3427;
    font-size: 120%;
    font-weight: normal;
}

itemDescription {
	width: 50%;

	color: black;
	font-size: 120%;
	font-weight: normal;
}

currentCount {
	width: 15%;

	color: #0D3427;
	font-size: 120%;;
	font-weight: bold;
}

onOrder {
	width: 15%;

	color: #0D3427;
	font-size: 120%;;
	font-weight: bold;
}

/* phone::before {content: attr(type) ":"}
phone[primary]::after{content: " (" attr(primary) ")"} /*
