
table
{
	border-collapse: collapse;
	border: 1px solid rgb(35, 80, 76);

	background-color: rgb(214, 243, 239);
	
	width: 601px;
}


tr {
	padding-bottom: 1px;
}


th {
	font-family: Helvetica, sans-serif;
	font-size: 100%;
	vertical-align: middle;
	text-align: center;
	color: rgb(225, 241, 239);

	border: 1px solid rgb(214, 243, 239);
	background-color: rgb(35, 80, 76);

	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}


td{
	font-family: Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	text-align: center;
	color:  rgb(35, 80, 76);

	border: 1px solid  rgb(35, 80, 76);

	padding-bottom: 3px;
	padding-top: 3px;
}
