
/*
root { 
	display: table;
	width: 500px;
	border: thin solid black;
}

row {

	display: table-row;
}


*/
table, td {
    border-collapse: collapse;
    border: 1px solid black;
    width: 600px;

    color: rgb(19, 31, 27);
    font-size: 120%;
	font-weight: bold;
	
	background-color: rgb(235, 235, 235);
}

h1{
	text-indent: 90px;
	font-family: Helvetica, sans-serif;
}

th {
	display: table-cell;
	font-size: 120%;
	border: 0.5px solid black;
	text-align: center;
	color: rgb(235, 235, 235);;
	background-color: rgb(40, 56, 56);
}

itemCode,
itemDescription,
currentCount,
onOrder{
	display: table-cell;
	border: 0.5px solid black;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: rgb(40, 56, 56);
}

itemCode {
    width: 15%;
}

itemDescription {
	width: 55%;
	text-align: left;
	text-indent: 15px;
}

currentCount {
	width: 15%;

}

onOrder {
	width: 15%;
}

/* phone::before {content: attr(type) ":"}
phone[primary]::after{content: " (" attr(primary) ")"} /*
